@charset "UTF-8";

/* Telas acima de 992px */

main {
  position: relative;
}

div#imagem {
  position: absolute;
  right: 0%;
  margin-right: 0px;
}

img {
  border-radius: 0px 20px 20px 0px;
}

div#principal {
  position: absolute;
  top: 10%;
  width: 52%;
}
